<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
</head>
<body>
    <div class="student">
        <ul>
            {{#each info}}
            <li><h2>{{id}}-{{name}}</h2></li>
            {{/each}}
        </ul>
    </div>
</body>
</html>